{% extends 'shop_layout.html' %}
{% load static %}

		

		
{% block shop %}
<div class="row">

<!-- Start Column 1 -->
{% for product in products %}
<div class="col-12 col-md-4 col-lg-3 mb-5">
	
	<a class="product-item" href="{% url 'product' %}">
		
		
		<img src="{{ product.image.url }}" class="img-fluid product-thumbnail">
		<h3 class="product-title">{{product.title}}</h3>
		<strong class="product-price">{{product.price}}</strong>
		
		<span class="icon-cross">
			<img src="{% static 'images/cross.svg' %}" class="img-fluid">
		</span>
	</a>
		
</div> 
{% endfor %}
<!-- End Column 1 -->
</div>
<div class="center">
  <div class="pagination">
	<a href="#">&laquo;</a>
	<a href="#">1</a>
	<a class="active" href="#">2</a>
	<a href="#">3</a>
	<a href="#">4</a>
	<a href="#">5</a>
	<a href="#">6</a>
	<a href="#">&raquo;</a>
</div>

{% endblock %}